*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgcolor: #020202;
    --primary-color: #F6E71D;
    --secondary-color: #181818;
    --text-color: #828286;
    --main-text-color: #333333;
}

html{
    font-size: 100%;
    
}

a{
    text-decoration: none;
    color: #fff;
}

h1, h2, h3, h4, h5, h6{
    color: #333333;
}

/* Fonts */
h1{
  font-size: calc(50px + 30*(100vw - 320px)/1600);
}
h2{
  font-size: calc(34px + 22*(100vw - 320px)/1600);
}
h3{
  font-size: calc(26px + 6*(100vw - 320px)/1600);
}
h4{
  font-size: calc(18px + 6*(100vw - 320px)/1600);
}
h5{
  font-size: calc(16px + 6*(100vw - 320px)/1600);
}
h6{
  font-size: 1rem;
}

@media(main-width: 1500px){
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl{
        max-width: 1500px !important;
    }
}

@media(main-width: 1400px){
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl{
        max-width: 1400px !important;
    }
}